<h1>Create new collection:</h1>

<%= form_tag "/#{@user.id}/collections" do %>
  <%= label_tag :collection_title %>
  <%= text_field_tag :collection_title %>
  <%= label_tag :collection_tags %>
  <%= collection_select(:tag, :name, @tags, :id, :name) %>
  <%= submit_tag "Create Collection" %>
<% end %>
