<h1>New Collection Form</h1>
<%= form_tag "/machinecollections", method: :post do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :tag_list %>
  <%= text_field_tag :tag_list %>
  <%= submit_tag 'Create Collection'%>
<% end %>
